<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICamRemoteAccessContract" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ISystemService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:19527/CAM" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICamRemoteAccessContract"
                contract="CamRAC.ICamRemoteAccessContract" name="NetTcpBinding_ICamRemoteAccessContract" />
            <endpoint address="net.tcp://localhost:15143/APAS/USRCI" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISystemService" contract="SystemService.ISystemService"
                name="NetTcpBinding_ISystemService" />
        </client>
    </system.serviceModel>
</configuration>
